<aldeia>

    <input name="aldeia_name" class="form-control" onkeyup={add_aldeia} placeholder="Aldeia"><br/>
    <select id="aldeia" class="form-control">
        <option each={parent.sucos} value={url}>{name}</option>
    </select>
    <div class="aldeia_log"></div>
    <div class="aldeia_error_log"></div><br/>

    <button onclick={add} disabled={ !text } class="btn btn-default">add aldeia</button>


    var self = this

    add_aldeia(e){
        self.text = e.target.value
    }

    add(e){
        if(self.aldeia_name.value){
            var aldeias = {'name': self.aldeia_name.value, 'suco': aldeia.value}
            console.log(aldeia.value)
            $.post('/api/aldeias/', aldeias, function(data){
                self.parent.aldeias.push(data)
                self.aldeia_name.value = ''
                self.parent.update()
            })
                $(document).ajaxSuccess(function() {
                $( ".aldeia_log" ).text( "Your are successfull to add aldeia." );
            });
                $( document ).ajaxError(function() {
                $( ".aldeia_error_log" ).text( "You aren't successfull to add aldeia." );
            });
        }
    }

</aldeia>
