<aldeia>

    <input name="aldeia_name" class="form-control" placeholder="Aldeia"><br/>
    <select id="aldeia" class="form-control">
        <option each={parent.sucos} value={url} selected={name}>{name}</option>
    </select><br/>

    <button onclick={add} class="btn btn-default">add aldeia</button>


    var self = this

    add(e){
        if(self.aldeia_name.value){
            var aldeias = {'name': self.aldeia_name.value, 'suco': aldeia.value}
            console.log(aldeia.value)
            $.post('/api/aldeias/', aldeias, function(data){
                self.parent.aldeias.push(data)
                self.aldeia_name.value = ''
                self.parent.update()
            })
        }
    }

</aldeia>
