<district>

    <input name="district_name" class="form-control" placeholder="Distrito" onkeyup={add_district}>
    <div class="district_log"></div>
    <div class="district_error_log"></div><br/>
    <button onclick={add} disabled={ !text } class="btn btn-default">add District</button>
    
    var self = this

    add_district(e){
        self.text = e.target.value
    }

    add(e){
        if(self.district_name.value){
            var district_add = {'name': self.district_name.value}
            RiotControl.trigger('add_districts', district_add)
            self.parent.districts.push(district_add)
            self.district_name.value = ''
            self.parent.update()
        }
    }

    RiotControl.on('change_add', function(districts){
        debugger;
        self.parent.districts = districts
        self.parent.update()
    })

</district>
