<district>

    <input name="district_name" class="form-control" placeholder="Distrito">
    <div class="district_log"></div>
    <div class="district_error_log"></div><br/>
    <button onclick={add} class="btn btn-default">add District</button>
    
    var self = this

  add(e){
        console.log(self.district_name)
        if(self.district_name.value){
            var district = {'name': self.district_name.value}
            $.post('/api/districts/', district, function(data){
                self.parent.districts.push(data)
                self.district_name.value = ''
                self.parent.update()

            })
                $(document).ajaxSuccess(function() {
                $( ".district_log" ).text( "You are successfull to add district." );
            });
                $( document ).ajaxError(function() {
                $( ".district_error_log" ).text( "You aren't successfull to add district." );
            });
        }
    }
</district>
