{% load static %}
<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            <districts>
            </districts>
        </div>

        <script src="{% static 'riot/riot+compiler.min.js' %}"></script>
        <script src="{% static 'RiotControl/riotcontrol.js' %}"></script>
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

        <script src="{% static 'js/district_store.js' %}"></script>
        <script type="riot/tag">{% include 'tempe/riot/districts.tag' %}</script>

        <script>
            RiotControl.addStore(new DistrictStore());

            riot.mount('districts')
        </script>
    </body>
</html>
