<revision>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <district>
                </district>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <subdistrict>
                </subdistrict>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <suco>
                </suco>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <aldeia>
                </aldeia>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <visitor>
                </visitor>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
            </div>
        </div>
    </div>



    <h1>All Tourist</h1>

    <table class="table table-condensed">
        <tr>
            <td><b>Aldeia</b></td>
            <td><b>Suku</b></td>
            <td><b>Sub-Distrito</b></td>
            <td><b>Distrito</b></td>
            <td><b>Nasionalidade</b></td>
            <td><b>Visitor</b></td>
        </tr>
        <tr>
            <td>
                <p each="{aldeias}">{name }</p>
            </td>
            <td>
                <p each="{sucos}">{name }</p>
            </td>
             <td>
                <p each="{subdistricts}">{name }</p>
            </td>
            <td>
                <p each="{districts}">{name }</p>
            </td>
            <td>
                <p each="{visitors}">{nationality }</p>
            </td>
            <td>
                <p each="{visitors}">{name }</p>
            </td>

        </tr>

    var self = this

    self.districts = []
    self.subdistricts = []
    self.sucos = []
    self.aldeias = []
    self.visitors = []

    self.on('mount', function(){
        $.get('/api/districts/', function(data){
            self.districts = data.results
            self.update()
        })
        $.get('/api/subdistricts/', function(data){
            self.subdistricts = data.results
            self.update()
        })
        $.get('/api/sucos/', function(data){
            self.sucos = data.results
            self.update()
        })
        $.get('/api/aldeias/', function(data){
            self.aldeias = data.results
            self.update()
        })
        $.get('/api/visitors/', function(data){
            self.visitors = data.results
            self.update()
        })
    })

</revision>
