<revision>
    <form onsubmit={add}>
        <input name="input">
        <button>add District</button>
    </form>

    <div each={ revisions }>
        { name }
    </div>

    var self = this

    self.revisions = []

    self.on('mount', function(){
        $.get('/api/districts/', function(data){
            self.revisions = data.results
            self.update()
        })
    })
    add(e){
        if(self.input.value){
            var revisaun = {'name': self.input.value}
            $.post('/api/districts/', revisaun, function(data){
                self.revisions.push(data)
                self.input.value = ''
                self.update()

            })
            }
    }

</revision>
