<subdistrict>

    <input id="subdistrict_name" class="form-control" onkeyup={add_subdistrict}  placeholder="Subdistrito"><br/>
    <select id="sub" class="form-control" >
        <option each={ parent.districts } value={url} >{name}</option>
    </select>
    <div class="subdistrict_log"></div>
    <div class="subdistrict_error_log"></div><br/>
    <button onclick={add} disabled={ !text } class="btn btn-default">add subdistrict</button>

    
    var self = this

    add_subdistrict(e){
        self.text = e.target.value
    }

    add(e){
        if(subdistrict_name.value){
            var subdistrict = {'name': subdistrict_name.value, 'district': sub.value}
            console.log(sub.value)
            $.post('/api/subdistricts/', subdistrict, function(data){
                self.parent.subdistricts.push(data)
                subdistrict_name.value = ''
                self.parent.update()
            })
                $(document).ajaxSuccess(function() {
                $( ".subdistrict_log" ).text( "You are successfull to add subdistrict." );
            });
                $( document ).ajaxError(function() {
                $( ".subdistrict_error_log" ).text( "You aren't successfull to add subdistrict." );
            });
        }
    }

</subdistrict>
