<subdistrict>

    <input id="subdistrict_name" class="form-control"  placeholder="Subdistrito"><br/>
    <select id="sub" class="form-control" >
        <option each={ parent.districts } value={url} >{name}</option>
    </select><br/>
    <button onclick={add} class="btn btn-default">add subdistrict</button>

    
    var self = this

    add(e){
        if(subdistrict_name.value){
            var subdistrict = {'name': subdistrict_name.value, 'district': sub.value}
            console.log(sub.value)
            $.post('/api/subdistricts/', subdistrict, function(data){
                self.parent.subdistricts.push(data)
                subdistrict_name.value = ''
                self.parent.update()
            })
            }
         }

</subdistrict>
