<subdistrict>

    <form>
        <input id="input" class="form-control"  placeholder="Subdistrito">
        <select id="sub" class="form-control" >
            <option each={districts} value={url} selected={name}>{name}</option>
        </select>
        <button onclick={add} class="btn btn-default">add subdistrict</button>
    </form>

    
    var self = this
    self.subdistricts = []

    self.on('mount', function(){
        $.get('/api/districts/', function(data){
            self.districts = data.results
            self.update()
        })
    })

    add(e){
        if(self.input.value){
            var subdistrict = {'name': input.value, 'district': sub.value}
            console.log(sub.value)
            $.post('/api/subdistricts/', subdistrict, function(data){
                self.subdistricts.push(data)
                self.input.value = ''
                self.update()
            })
            }
         }

</subdistrict>
