<suco>

    <input name="suco_name" class="form-control" placeholder="Suco"><br/>
    <select id="suku" class="form-control">
        <option each={parent.subdistricts} value={url}>{name}</option>
    </select>
    <div class="suco_log"></div>
    <div class="suco_error_log"></div><br/>

    <button onclick={add} class="btn btn-default">add suco</button>


    var self = this

    add(e){
        if(self.suco_name.value){
            var sukus = {'name': self.suco_name.value, 'subdistrict': suku.value}
            console.log(suku.value)
            $.post('/api/sucos/', sukus, function(data){
                self.parent.sucos.push(data)
                self.suco_name.value = ''
                self.parent.update()
            })
                $(document).ajaxSuccess(function() {
                $( ".suco_log" ).text( "You are successfull to add suco." );
            });
                $( document ).ajaxError(function() {
                $( ".suco_error_log" ).text( "You aren't successfull to add suco." );
            });
        }
    }

</suco>
