<suco>

    <input name="input" class="form-control" placeholder="Suco"><br/>
    <select id="suku" class="form-control">
        <option each={subdistricts} value={url} selected={name}>{name}</option>
    </select><br/>

    <button onclick={add} class="btn btn-default">add suco</button>


    var self = this
    self.sucos = []

    self.on('mount', function(){
        $.get('/api/subdistricts/', function(data){
            self.subdistricts = data.results
            self.update()
        })
    })

    add(e){
        if(self.input.value){
            var sukus = {'name': self.input.value, 'subdistrict': suku.value}
            console.log(suku.value)
            $.post('/api/sucos/', sukus, function(data){
                self.sucos.push(data)
                self.input.value = ''
                self.update()
            })
            }
         }

</suco>
